#Intro {
    text-align: center;
    border: 20px;
    background-color: black;
    color: whitesmoke;
}

.intro {
    background-image: url(./images/Big-Thre-768x432.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}