#Intro {
    text-align: center;
    border: 20px;
    background-color: black;
    color: whitesmoke;
}

.intro {
    background-image: url(/resources/images/Big-Thre-768x432.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bleach-gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#naruto-gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#onepiece-gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#Naruto-Page {
    background-image: url(/resources/images/baa4723bd5264512b156fc182e40ff8c--minimalist-wallpaper-minimalist-art.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#OnePiece-Page {
    background-image: url(/resources/images/7b43772c333c8bae17155a929897ccfa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}